@page
@model IndexModel
@{
    ViewData["Title"] = "Tasks Tracker";
}

<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Welcome to Tasks Tracker!</h5>
                        <form>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com" asp-for="TasksCreatedBy" required>
                                <label for="floatingInput">Email address</label>
                            </div>

                            <div class="d-grid">
                                <input type="submit" class="btn btn-primary btn-login text-uppercase fw-bold"
                                    value="Load My Tasks" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
