name: Build and Preview Workshop Docs

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - closed
    paths:
      - 'docs/**'
      - 'mkdocs.yml'
      - 'Makefile'

# permissions:
#   actions: write          # Required for pr-preview-action
#   contents: write         # Required for the checkout action to know to kick off (read) and pr-preview-action (write)
#   deployments: write      # Required for pr-preview-action
#   id-token: write         # Required for pr-preview-action
#   pages: write            # Required for pr-preview-action

permissions:
  actions: write
  contents: write
  deployments: write
  id-token: write
  pages: write
  #pull-requests: write

concurrency:
  group: preview-${{ github.ref }}
  cancel-in-progress: true

jobs:
  preview-docs:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"
      - name: Capture branch and tag
        id: branch_name
        run: |
          echo "SOURCE_BRANCH=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
          echo "SOURCE_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
      - name: Build workshop site
        if: " github.event.action != 'closed' "
        run: |
          echo "GIT_PYTHON_REFRESH=quiet"
          make build-docs-website
      - name: Release preview to branch
        if: "! github.event.pull_request.head.repo.fork "
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./dist/
          preview-branch: gh-pages
          umbrella-dir: pr-preview
          action: auto
  # publish-preview-docs:
  #   if: "! github.event.pull_request.head.repo.fork "
  #   name: Preview
  #   needs: preview-docs
  #   uses: ./.github/workflows/publish-docs.yml